@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MSader.DTO.HomeBlogDTO homeBlog = (MSader.DTO.HomeBlogDTO)ViewBag.HomeBlog;
}

<div role="main" class="main">

    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="owl-carousel owl-theme nav-inside nav-style-1 nav-light owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': false, 'dots': true, 'autoplay': true, 'autoplayTimeout': 3000, 'autoplayHoverPause':true}" style="height: auto;">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.25s; width: 1112px;">
                            <div class="owl-item active" style="width: 546px; margin-right: 10px;">
                                <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                                    <div class="card">
                                        <a href="@homeBlog.PostsCarousel[0].DSUrlPost"><img class="card-img-top" src="@homeBlog.PostsCarousel[0].Midias[0].DSUrlMidia" title="@homeBlog.PostsCarousel[0].DSTituloPost" style="cursor:pointer"></a>
                                        <div class="card-body">
                                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.PostsCarousel[0].DSUrlPost'">@homeBlog.PostsCarousel[0].DSTituloPost</h4>
                                            <div style="font-size:11px; color:#777">
                                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.PostsCarousel[0].DSAncoraPost</span>
                                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.PostsCarousel[0].NRPostViews </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @{
                                for (int i = 1; i < homeBlog.PostsCarousel.Count; i++)
                                {
                                    <div class="owl-item active" style="width: 546px; margin-right: 10px;">
                                        <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                                            <div class="card">
                                                <a href="@homeBlog.PostsCarousel[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.PostsCarousel[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                                                <div class="card-body">
                                                    <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.PostsCarousel[i].DSUrlPost'">@homeBlog.PostsCarousel[i].DSTituloPost</h4>
                                                    <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.PostsCarousel[i].DSUrlPost'"></p>
                                                    <div style="font-size:11px; color:#777">
                                                        <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.PostsCarousel[i].DSAncoraPost</span>
                                                        <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.PostsCarousel[i].NRPostViews </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
            @for (int i = 0; i < 2; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 2; i < 6; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 6; i < 10; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 10; i < 14; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 14; i < 18; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 18; i < 22; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 22; i < 26; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 26; i < 30; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="@homeBlog.Posts[i].DSUrlPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="window.location = '@homeBlog.Posts[i].DSUrlPost'"></p>
                            <div style="font-size:11px; color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" title="Âncora"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye" title="Visualizações"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

