@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MSader.DTO.HomeBlogDTO homeBlog = (MSader.DTO.HomeBlogDTO)ViewBag.HomeBlog;
}

<div role="main" class="main">

    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="owl-carousel owl-theme nav-inside nav-style-1 nav-light owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': false, 'dots': true, 'autoplay': true, 'autoplayTimeout': 3000, 'autoplayHoverPause':true}" style="height: auto;">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.25s; width: 1112px;">
                            <div class="owl-item active" style="width: 546px; margin-right: 10px;">
                                <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                                    <div class="card">
                                        <a href="@homeBlog.PostsCarousel[0].DSUrlPost"><img class="card-img-top" src="@homeBlog.PostsCarousel[0].Midias[0].DSUrlMidia" title="@homeBlog.PostsCarousel[0].DSTituloPost" style="cursor:pointer"></a>
                                        <div class="card-body">
                                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.PostsCarousel[0].DSTituloPost</h4>
                                            <p class="card-text mb-2 pb-1" style="cursor:pointer; font-size:8px" onclick="alert('Text')">@homeBlog.PostsCarousel[0].DSSubTituloPost</p>
                                            <div style="font-size:10px;color:#777">
                                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.PostsCarousel[0].DSAncoraPost</span>
                                                <span><i class="far fa-eye"></i> @homeBlog.PostsCarousel[0].NRPostViews </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @{
                                for (int i = 1; i < homeBlog.PostsCarousel.Count; i++)
                                {
                                    <div class="owl-item active" style="width: 546px; margin-right: 10px;">
                                        <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                                            <div class="card">
                                                <a href="@homeBlog.PostsCarousel[0].DSUrlPost"><img class="card-img-top" src="@homeBlog.PostsCarousel[i].Midias[0].DSUrlMidia" alt="Card Image"></a>
                                                <div class="card-body">
                                                    <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.PostsCarousel[i].DSTituloPost</h4>
                                                    <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                                                    <div style="font-size:10px;color:#777">
                                                        <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.PostsCarousel[i].DSAncoraPost</span>
                                                        <span><i class="far fa-eye"></i> @homeBlog.PostsCarousel[i].NRPostViews </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
            @for (int i = 0; i < 2; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 2; i < 6; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 6; i < 10; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 10; i < 14; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 14; i < 18; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 18; i < 22; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 22; i < 26; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            @for (int i = 26; i < 30; i++)
            {
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                        <a href="~/Post?id=@homeBlog.Posts[i].IDPost"><img class="card-img-top" src="@homeBlog.Posts[i].Midias[0].DSUrlMidia" alt="Card Image" style="cursor:pointer" onclick="alert('Image')"></a>
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">@homeBlog.Posts[i].DSTituloPost</h4>
                            <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                            <div style="font-size:10px;color:#777">
                                <span style="margin-right:7px"><i class="fas fa-tag" )"></i> @homeBlog.Posts[i].DSAncoraPost</span>
                                <span><i class="far fa-eye"></i> @homeBlog.Posts[i].NRPostViews </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-1 pb-3">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1 pb-3">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1 pb-3">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                        <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')"></p>
                        <p style="font-size:10px;color:#777">
                            <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                            <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                            <span><i class="far fa-eye"></i> 12 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

