@{
    ViewData["Title"] = "AI Natural Language";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div role="main" class="main" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

    <div class="container container-xl-custom">
        <div class="row">
            <div class="col-lg-8 pt-5">
                <h2 class="font-weight-bold text-10 line-height-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500"><span class="text-5">Natural Language</span></h2>
                <h4 class="text-6 line-height-6 font-weight-normal appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800"><span class="opacity-6">Soluções funcionais baseadas em inteligência artificial para o processamento e compreensão de linguagem natural.</span></h4>
            </div>
        </div>
    </div>
    <div class="container" id="MainContainer">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#OriginalText" data-bs-toggle="tab" aria-selected="true" role="tab">Texto Original</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#ProcessarPrompt" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Processar Prompt</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#GerarPost" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Gerar Post</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#ComentarPosts" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Comentar Posts</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#TranscricaoAudio" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Transcrição Áudio</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#ReescrevendoTexto" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Reescrever Texto</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#GerarResumo_obsoleto" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Gerar Resumo Obsoleto</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="OriginalText" class="tab-pane active" role="tabpanel">
                            <h2 style="margin-bottom:2px"><strong>Texto Original</strong></h2>
                            <p>O texto original pode ser obtido a partir de uma URL ou PDF (scraper), ou ainda escrito diretamente no formulário.</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="" action="" method="POST" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Scraper</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="form-label">URL</label>
                                                <input type="text" class="form-control" id="DSUrlForScraping" placeholder="URL da fonte original">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>PDF</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-8">
                                                <label class="form-label mb-1 text-2">Selecione um arquivo</label>
                                                <br /><input type="file" id="inputFileUpload" />
                                            </div>
                                            <div class="col-md-4" style="text-align:right">
                                                <button type="button" onclick="runScraping()" class="btn btn-primary mt-2">Scrape URL</button>
                                                <button type="button" onclick="runUploadPdf()" class="btn btn-primary mt-2">Enviar Arquivo PDF</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Resultado</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group col">
                                                    <label class="form-label mb-1 text-2">Resultado em Texto</label>
                                                    <textarea data-msg-required="" rows="20" class="form-control text-3 h-auto py-2" id="DSOriginalText" name="DSOriginalText" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group col">
                                                    <label class="form-label mb-1 text-2">Visão HTML do Resultado</label>
                                                    <div class="card">
                                                        <div style="
                                                                    overflow-y: auto;
                                                                    overflow-x: hidden;
                                                                    border: 1px solid #ddd;
                                                                    padding: 10px;
                                                                    min-height: 530px;
                                                                    max-height: 530px;
                                                                    white-space: normal;
                                                                ">
                                                            <div id="DSOriginalTextHtml"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="ProcessarPrompt" class="tab-pane" role="tabpanel">
                            <h2 style="margin-bottom:2px"><strong>Processar Prompt</strong></h2>
                            <p>Selecione o prompt, selecione as diretrizes e vieses e submeta o prompt.</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="" method="POST" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <h4>Prompt</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Selecione um Prompt</label>
                                                            @Html.DropDownList("Prompts", (SelectList)ViewBag.Prompts, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div id="divPromptDetails"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="">
                                                            <label class="form-label">Estilo Resposta</label>
                                                            @Html.DropDownList("IDEstiloResposta", (SelectList)ViewBag.EstilosResposta, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_EstiloResposta"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="">
                                                            <label class="form-label">Formato de Saídat</label>
                                                            @Html.DropDownList("IDFormatoSaida", (SelectList)ViewBag.FormatosSaida, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="mb-3" id="Diretriz_FormatoSaida"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <h4>Vieses</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Político</label>
                                                            @Html.DropDownList("IDViesPolitico", (SelectList)ViewBag.ViesesPolitico, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_Vies_Politico"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Econômico</label>
                                                            @Html.DropDownList("IDViesEconomico", (SelectList)ViewBag.ViesesEconomico, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_Vies_Economico"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Cultural/Social</label>
                                                            @Html.DropDownList("IDViesCultural_Social", (SelectList)ViewBag.ViesesCultural_Social, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_Vies_Cultural_Social"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Filosófico/Ético</label>
                                                            @Html.DropDownList("IDViesFilosofico_Etico", (SelectList)ViewBag.ViesesFilosofico_Etico, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_Vies_Filosofico_Etico"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Científico/Tecnológico</label>
                                                            @Html.DropDownList("IDViesCientifico_Tecnologico", (SelectList)ViewBag.ViesesCientifico_Tecnologico, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3" id="Diretriz_Vies_Cientifico_Tecnologico"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Habilitar/Inabilitar</label><br />
                                                            <div class="btn btn-default" id="btnResetVieses" onclick="resetVieses()">Inabilitar Vieses</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3" id="Diretriz_Vies_Neutro"></div>
                                                        <input type="hidden" id="IDViesNeutro" value="@MSader.DTO.ConstDTO.ViesCategoria.Neutro.IDVies" />
                                                        <input type="hidden" id="STResetVieses" value="0" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group col">
                                                            <label class="form-label mb-1 text-2">Prompt</label>
                                                            <textarea data-msg-required="" rows="20" class="form-control text-3 h-auto py-2" id="DSPrompt" name="DSPrompt" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-12" style="text-align: right">
                                                        <div class="btn btn-default" type="button" onclick="clearPrompt()">Limpar</div>
                                                        <div class="btn btn-primary" onclick="replaceTagByText('[TEXTO DA FONTE AQUI]', 'DSOriginalText', 'DSPrompt')">Obter Resumo</div>
                                                        <div class="btn btn-primary" onclick="runContentGeneratorOpenAI()">Processar Prompt</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <h4>Resposta</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <div class="form-group col">
                                                            <label class="form-label mb-1 text-2">Visão HTML do Resultado</label>
                                                            <div style="
                                                                    overflow-y: auto;
                                                                    overflow-x: hidden;
                                                                    border: 1px solid #ddd;
                                                                    padding: 10px;
                                                                    min-height: 700px;
                                                                    max-height: 700px;
                                                                    white-space: normal;
                                                                ">
                                                                <div id="DSTextProcessResult"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="GerarPost" class="tab-pane" role="tabpanel">
                            <h2 style="margin-bottom:2px"><strong>Gerar Post</strong></h2>
                            <p>Selecione e submeta o prompt .</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="" method="POST" novalidate="novalidate">

                                        <div class="row">
                                            <div class="row">
                                                <div class=col-lg-12>
                                                    <h4>Prompt</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="mb-3">
                                                        <label class="form-label">Selecione um Prompt</label>
                                                        @Html.DropDownList("PromptsPost", (SelectList)ViewBag.Prompts, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                    </div>
                                                    <div id="divPromptDetailsPost"></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <label class="form-label">&nbsp;</label><br />
                                                        <div class="btn btn-primary">Processar</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group col">
                                                        <label class="form-label mb-1 text-2">Prompt</label>
                                                        <textarea data-msg-required="" rows="8" class="form-control text-3 h-auto py-2" id="DSPromptPost" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-12" style="text-align: right">
                                                    <div class="btn btn-default" type="button" onclick="clearPromptPost()">Limpar</div>
                                                    <div class="btn btn-primary" onclick="replaceTagByText('[TEXTO DA FONTE AQUI]', 'DSTextProcessResult', 'DSPromptPost')">Obter Resumo</div>
                                                    <div class="btn btn-primary" onclick="runPromptPostOpenAI()">Processar Prompt</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <h4>Post</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Autor</label>
                                                            @Html.DropDownList("Pessoa", (SelectList)ViewBag.Pessoas, null, new { @class = "form-control populate", @data_plugin_selecttwo = "" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Tipo do Post</label>
                                                            @Html.DropDownList("TipoPost", (SelectList)ViewBag.TiposPost, null, new { @class = "form-control populate", @data_plugin_selecttwo = "" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Acesso Restrito</label>
                                                            @Html.DropDownList("AcessoRestrito", (SelectList)ViewBag.SimNao, null, new { @class = "form-control populate", @data_plugin_selecttwo = "" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Âncora</label>
                                                            <input type="text" class="form-control" id="DSAncoraPost">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Título</label>
                                                            <input type="text" class="form-control" id="DSTituloPost">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">SubTitulo</label>
                                                            <textarea rows="2" class="form-control text-3 h-auto py-2" id="DSSubTituloPost" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Texto</label>
                                                            <textarea rows="10" class="form-control text-3 h-auto py-2" id="DSTextoPost" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Tags</label>
                                                            <input type="text" class="form-control" id="DSTags">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-md-12" style="text-align: right">
                                                        <button type="button" onclick="savePost()" class="btn btn-primary">Criar Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <h4>Resposta</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-lg-12>
                                                        <div class="form-group col">
                                                            <label class="form-label mb-1 text-2">Visão HTML do Resultado</label>
                                                            <div style="
                                                                    overflow-y: auto;
                                                                    overflow-x: hidden;
                                                                    border: 1px solid #ddd;
                                                                    padding: 10px;
                                                                    min-height: 700px;
                                                                    max-height: 700px;
                                                                    white-space: normal;
                                                                ">
                                                                <div id="DSTextoPostHtml"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="ComentarPosts" class="tab-pane" role="tabpanel">
                            <p>Comentar Posts</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="formTransciptionAudio" action="" method="POST" novalidate="novalidate">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label class="form-label mb-1 text-2">Prompt</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="20" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="form-label mb-1 text-2">Arquivo de áudio</label>
                                                <input type="file" value="" data-msg-required="Please, enter your audio file" maxlength="100" class="form-control text-3 h-auto py-2" id="fileAudio" name="fileAudio" required="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <input type="submit" value="Submit Form" class="btn btn-primary" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="TranscricaoAudio" class="tab-pane" role="tabpanel">
                            <p>Transcrição Áudio</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="formTransciptionAudio" action="" method="POST" novalidate="novalidate">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label class="form-label mb-1 text-2">Prompt</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="20" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="form-label mb-1 text-2">Arquivo de áudio</label>
                                                <input type="file" value="" data-msg-required="Please, enter your audio file" maxlength="100" class="form-control text-3 h-auto py-2" id="fileAudio" name="fileAudio" required="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <input type="submit" value="Submit Form" class="btn btn-primary" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="ReescrevendoTexto" class="tab-pane" role="tabpanel">
                            <p>Reescrevendo Texto</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="formTransciptionAudio" action="" method="POST" novalidate="novalidate">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label class="form-label mb-1 text-2">Prompt</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="20" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="form-label mb-1 text-2">Arquivo de áudio</label>
                                                <input type="file" value="" data-msg-required="Please, enter your audio file" maxlength="100" class="form-control text-3 h-auto py-2" id="fileAudio" name="fileAudio" required="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <input type="submit" value="Submit Form" class="btn btn-primary" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="GerarResumo_obsoleto" class="tab-pane" role="tabpanel">
                            <div class="card card-default">
                                <div class="card-header" id="collapse3HeadingOne">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#collapse3One" aria-expanded="true">
                                            <span>Submeter Prompt</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3One" class="collapse show" aria-labelledby="collapse3HeadingOne" data-bs-parent="#accordion3">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Selecione um Prompt</label>
                                                        @Html.DropDownList("Prompts_", (SelectList)ViewBag.Prompts, null, new { @class = "form-control populate text-3", @data_plugin_selecttwo = "" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container" id="divSubmeterPrompt">
                                            <div class="row mt-10">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSTema" class="form-label">Tema Principal</label>
                                                        <input type="text" class="form-control text-3" id="DSTema" value="">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSUrlFonte" class="form-label">URL da Fonte</label>
                                                        <input type="text" class="form-control text-3" id="DSUrlSource" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSComplemento" class="form-label">Observações complementares</label>
                                                        <textarea rows="2" class="form-control text-3 h-auto py-2" name="DSContexto" id="DSComplemento" value=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-12" style="text-align: right">
                                                    <a class="btn btn-default" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        Exibir Prompt...
                                                    </a>
                                                    <button type="button" onclick="runContentGeneratorOpenAI()" class="btn btn-primary">Submeter Prompt</button>
                                                    <input type="hidden" id="IDPrompt" />
                                                    <input type="hidden" id="IDTipoPrompt" value="2" data-nmtipoprompt="Natural Language" />
                                                </div>
                                            </div>
                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body text-3 mt-1">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="NMTitulo" class="form-label">Título do Prompt</label>
                                                                    <input type="text" class="form-control text-3" id="NMTitulo">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="NMTipoPrompt" class="form-label">Tipo do Prompt</label>
                                                                    <h5 id="NMTipoPrompt">Natural Language</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="DSContexto" class="form-label">Contexto</label>
                                                                    <textarea data-msg-required="Please enter your message." rows="2" class="form-control text-3 h-auto py-2" name="DSContexto" id="DSContexto" required=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="DSObjetivo" class="form-label">Objetivo</label>
                                                                    <textarea data-msg-required="Please enter your message." rows="3" class="form-control text-3 h-auto py-2" name="DSObjetivo" id="DSObjetivo" required=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label">Estilo da Resposta</label>
                                                                    @Html.DropDownList("EstiloResposta", (SelectList)ViewBag.EstilosResposta, null, new { @class = "form-control populate", @data_plugin_selecttwo = "" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="NRMaxTokens" class="form-label">Max Tokens</label>
                                                                    <input type="number" class="form-control" id="NRMaxTokens">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="VRTemperature" class="form-label">Temperature</label>
                                                                    <input type="text" class="form-control" id="VRTemperature">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="DSPrompt_" class="form-label">Prompt</label>
                                                                    <textarea data-msg-required="Please enter your message." rows="8" class="form-control text-3 h-auto py-2" name="DSPrompt_" id="DSPrompt_" required=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col-md-12" style="text-align: right">
                                                                <button type="button" onclick="savePrompt()" class="btn btn-primary">Salvar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="text-left">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tabs">
                                                            <ul class="nav nav-tabs tabs-primary justify-content-center" role="tablist">
                                                                <li class="nav-item" role="presentation">
                                                                    <a class="nav-link active" href="#RespostaHtml" data-bs-toggle="tab" aria-selected="true" role="tab">HTML</a>
                                                                </li>
                                                                <li class="nav-item" role="presentation">
                                                                    <a class="nav-link" href="#RespostaForm" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">FORM</a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div id="RespostaHtml_" class="tab-pane active" role="tabpanel">
                                                                    <span>Aqui será exibida resposta no formato HTML...</span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse3HeadingTwo">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#collapse3Two">
                                            <span>Criar novo Prompt</span>
                                            <input type="hidden" id="IDPromptNew" value="0" />
                                            <input type="hidden" id="IDTipoPromptNew" value="2" data-nmtipoprompt="Natural Language" />
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3Two" class="collapse" aria-labelledby="collapse3HeadingTwo" data-bs-parent="#accordion3">
                                    <div class="card-body">

                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="NMTituloNew" class="form-label">Título do Prompt</label>
                                                        <input type="text" class="form-control" id="NMTituloNew">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="NMTipoPrompt" class="form-label">Tipo do Prompt</label>
                                                        <h5 id="NMTipoPromptNew">Natural Language</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSContextoNew" class="form-label">Contexto</label>
                                                        <textarea data-msg-required="Please enter your message." rows="2" class="form-control text-3 h-auto py-2" name="DSContexto" id="DSContextoNew" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSObjetivoNew" class="form-label">Objetivo</label>
                                                        <textarea data-msg-required="Please enter your message." rows="3" class="form-control text-3 h-auto py-2" name="DSObjetivo" id="DSObjetivoNew" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Estilo da Resposta</label>
                                                        @Html.DropDownList("EstiloRespostaNew", (SelectList)ViewBag.EstilosResposta, null, new { @class = "form-control populate", @data_plugin_selecttwo = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="NRMaxTokensNew" class="form-label">Max Tokens</label>
                                                        <input type="number" class="form-control" id="NRMaxTokensNew">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="VRTemperatureNew" class="form-label">Temperature</label>
                                                        <input type="text" class="form-control" id="VRTemperatureNew">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="DSPromptNew" class="form-label">Prompt</label>
                                                        <textarea data-msg-required="Please enter your message." rows="8" class="form-control text-3 h-auto py-2" name="DSPromptNew" id="DSPrompt_" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-md-12" style="text-align: right">
                                                    <button type="button" onclick="savePromptNew()" class="btn btn-primary">Salvar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" id="LoadingContainer" style="height: 600px">
        <div class="mb-10" style="margin-top:100px">
            <span>Aguarde, processando...</span>
        </div>
        <img src="~/image/commons/rolling_2.gif" />
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/jquery/jquery.slim.min.js"></script>

<script src="~/js/custom/admin-AINaturalLanguage.js?=1.1"></script>

